<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ssry.mapper.EnrollmentMapper">
    <update id="selectCourse">
        UPDATE enrollment
        SET status = 'ENROLLED'
        WHERE student_id = #{studentId} AND course_id = #{courseId}
    </update>

    <update id="exitCourse">
        UPDATE enrollment
        SET status = 'PENDING'
        WHERE student_id = #{studentId} AND course_id = #{courseId}
    </update>
    <!-- 查询已选课程 -->
    <select id="getSelectedCourses" resultType="com.ruoyi.ssry.domain.Course">
        SELECT
            c.id,
            c.course_code AS courseCode,
            c.course_name AS courseName,
            c.credits,
            c.semester,
            c.max_enrollment AS maxEnrollment,
            c.current_enrollment AS currentEnrollment,
            c.start_date AS startDate,
            c.end_date AS endDate,
            c.day_of_week AS dayOfWeek,
            TIME_FORMAT(c.start_time, '%H:%i:%s') AS startTime,  -- 格式化为字符串
            TIME_FORMAT(c.end_time, '%H:%i:%s') AS endTime,
            c.classroom,
            c.teacher_id AS teacherId,
            (SELECT t.name FROM teacher t WHERE t.id = c.teacher_id) AS teacherName
        FROM course c
        WHERE c.id IN (
            SELECT course_id
            FROM enrollment
            WHERE student_id = #{studentid} AND status = 'ENROLLED'
        )
    </select>

    <!-- 查询待审核课程 -->
    <select id="getAvailableCourses" resultType="com.ruoyi.ssry.domain.Course">
        SELECT
            c.id,
            c.course_code AS courseCode,
            c.course_name AS courseName,
            c.credits,
            c.semester,
            c.max_enrollment AS maxEnrollment,
            c.current_enrollment AS currentEnrollment,
            c.start_date AS startDate,
            c.end_date AS endDate,
            c.day_of_week AS dayOfWeek,
            TIME_FORMAT(c.start_time, '%H:%i:%s') AS startTime,  -- 格式化为字符串
            TIME_FORMAT(c.end_time, '%H:%i:%s') AS endTime,
            c.classroom,
            c.teacher_id AS teacherId,
            (SELECT t.name FROM teacher t WHERE t.id = c.teacher_id) AS teacherName
        FROM course c
        WHERE c.id IN (
            SELECT course_id
            FROM enrollment
            WHERE student_id = #{studentid} AND status = 'PENDING'
        )
    </select>

</mapper>