<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ssry.mapper.MessageMapper">
    <update id="updateAsRead">
        UPDATE message
        SET is_read = true
        WHERE id=#{id}
          AND is_read = false
    </update>
    <update id="markAllMessagesAsRead">
        UPDATE message
        SET is_read = true
        WHERE receiver_type = #{receiverType}
          AND receiver_id = #{receiverId}
          AND is_read = false
    </update>
    <select id="selectNoticeByReceiver" resultType="Message">
        SELECT
        id,
        title,
        content,
        sender_type AS senderType,
        sender_id AS senderId,
        receiver_type AS receiverType,
        receiver_id AS receiverId,      <!-- 新增 -->
        sender_name AS senderName,      <!-- 新增 -->
        msg_type AS msgType,
        is_application AS isApplication,
        app_status AS appStatus,
        admin_remark AS adminRemark,
        is_read AS isRead,
        create_time AS createTime
        FROM message
        WHERE receiver_type = #{receiverType}
        AND receiver_id = #{receiverId}
        ORDER BY create_time DESC
    </select>

    <select id="selectById" resultType="com.ruoyi.ssry.domain.Message">
        SELECT
        id,
        title,
        content,
        sender_type AS senderType,
        sender_id AS senderId,
        receiver_type AS receiverType,
        receiver_id AS receiverId,      <!-- 新增 -->
        sender_name AS senderName,      <!-- 新增 -->
        msg_type AS msgType,
        is_application AS isApplication,
        app_status AS appStatus,
        admin_remark AS adminRemark,
        is_read AS isRead,
        create_time AS createTime
        FROM message
        WHERE id = #{id}
    </select>
</mapper>