<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ssry.mapper.TeacherMapper">
    
    <resultMap type="Teacher" id="TeacherResult">
        <result property="id"    column="id"    />
        <result property="teacherNo"    column="teacher_no"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="birthDate"    column="birth_date"    />
        <result property="title"    column="title"    />
        <result property="hireDate"    column="hire_date"    />
        <result property="collegeId"    column="college_id"    />
        <result property="office"    column="office"    />
        <result property="degree"    column="degree"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="password"    column="password"    />
        <result property="avatar"    column="avatar"    />
    </resultMap>

    <sql id="selectTeacherVo">
        select id, teacher_no, name, sex, birth_date, title, hire_date, college_id, office, degree, status, create_time, update_time, remark, password, avatar from teacher
    </sql>

    <select id="selectTeacherList" parameterType="Teacher" resultMap="TeacherResult">
        <include refid="selectTeacherVo"/>
        <where>  
            <if test="teacherNo != null  and teacherNo != ''"> and teacher_no = #{teacherNo}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectTeacherById" parameterType="String" resultMap="TeacherResult">
        <include refid="selectTeacherVo"/>
        where id = #{id}
    </select>

    <select id="selectTeacherByteacherno" resultType="com.ruoyi.ssry.domain.Teacher">
        select * from teacher where teacher_no = #{loginName}
    </select>

    <select id="getcourselist" resultType="com.ruoyi.ssry.domain.Course">
        SELECT
            c.id,
            c.course_code AS courseCode,
            c.course_name AS courseName,
            c.credits,
            c.semester,
            c.start_date AS startDate,
            c.end_date AS endDate,
            c.max_enrollment AS maxEnrollment,
            c.current_enrollment AS currentEnrollment,
            c.day_of_week AS dayOfWeek,
            TIME_FORMAT(c.start_time, '%H:%i:%s') AS startTime,  -- 格式化为字符串
            TIME_FORMAT(c.end_time, '%H:%i:%s') AS endTime,
            c.classroom,
            c.teacher_id AS teacherId,
            t.name AS teacherName
        FROM course c
                 JOIN teacher t ON c.teacher_id = t.id
        WHERE c.teacher_id = #{id}
    </select>

    <insert id="insertTeacher" parameterType="Teacher" useGeneratedKeys="true" keyProperty="id">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherNo != null and teacherNo != ''">teacher_no,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="sex != null">sex,</if>
            <if test="birthDate != null">birth_date,</if>
            <if test="title != null">title,</if>
            <if test="hireDate != null">hire_date,</if>
            <if test="collegeId != null and collegeId != ''">college_id,</if>
            <if test="office != null">office,</if>
            <if test="degree != null">degree,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="avatar != null">avatar,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherNo != null and teacherNo != ''">#{teacherNo},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthDate != null">#{birthDate},</if>
            <if test="title != null">#{title},</if>
            <if test="hireDate != null">#{hireDate},</if>
            <if test="collegeId != null and collegeId != ''">#{collegeId},</if>
            <if test="office != null">#{office},</if>
            <if test="degree != null">#{degree},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="avatar != null">#{avatar},</if>
         </trim>
    </insert>

    <update id="updateTeacher" parameterType="Teacher">
        update teacher
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherNo != null and teacherNo != ''">teacher_no = #{teacherNo},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="title != null">title = #{title},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="collegeId != null and collegeId != ''">college_id = #{collegeId},</if>
            <if test="office != null">office = #{office},</if>
            <if test="degree != null">degree = #{degree},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeacherById" parameterType="String">
        delete from teacher where id = #{id}
    </delete>

    <delete id="deleteTeacherByIds" parameterType="String">
        delete from teacher where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>