<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('百度ECharts')" />
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>各分数所占比例</h5>
                    <div class="ibox-tools">
                        <select id="selectCourse" onchange="selectCourseChanged()"
                                class="form-control">
                            <option th:each="item : ${courses}"
                                    th:value="${item.id}"
                                    th:text="${item.courseName}"></option>
                        </select>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts1"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>柱状图</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:;">选项1</a>
                            </li>
                            <li><a href="javascript:;">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-bar-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: echarts-js" />
<script th:inline="javascript">
    var prefix = ctx + "ssry/grade";
    var chartDom = document.getElementById('echarts1');
    var myChart = echarts.init(chartDom);

    option = {
        title: {
            text: '分数段统计',
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            left: 'left'
        },
        series: [
            {
                name: 'Access From',
                type: 'pie',
                radius: '50%',
                data: [],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    myChart.setOption(option);
    window.addEventListener('resize', myChart.resize);

    var chartDombar = document.getElementById('echarts-bar-chart');
    var myChart2 = echarts.init(chartDombar);

    optionBar = {
        xAxis: {
            type: 'category',
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: [],
                type: 'bar',
                label: {
                    show: true,
                    position: 'top',
                    align: 'center',
                    verticalAlign: 'bottom',
                    formatter: '{c}'
                }
            }
        ]
    };

    myChart2.setOption(optionBar);
    window.addEventListener('resize', myChart2.resize);

    // 页面加载完成后执行
    selectCourseChanged();

    // 当课程下拉框改变时，重新生成两个图表
    function selectCourseChanged() {
        genChart1();
        genChart2();
    }

    // 生成第一个图表（饼图）
    function genChart1() {
        const courseId = $("#selectCourse").val();
        option.title.text = "分数段统计-" + $("#selectCourse option:selected").text();

        $.ajax({
            url: prefix + '/gradepaibyteachercourse?courseId=' + courseId,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                option.series[0].data = data.listdata;
                myChart.setOption(option);
            }
        });
    }

    // 生成第二个图表（柱状图）
    function genChart2() {
        const courseId = $("#selectCourse").val();
        option.title.text = "分数段统计-" + $("#selectCourse option:selected").text();

        $.ajax({
            url: prefix + '/getzhubycourseid?courseId=' + courseId,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                optionBar.xAxis.data = data.courseNameList;
                optionBar.series[0].data = data.avgList;
                myChart2.setOption(optionBar);
            }
        });
    }

</script>
</body>
</html>