<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.studentSys.mapper.TClsMapper">
    
    <resultMap type="TCls" id="TClsResult">
        <result property="clsId"    column="cls_id"    />
        <result property="majorId"    column="major_id"    />
        <result property="clsName"    column="cls_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTClsVo">
        select cls_id, major_id, cls_name, create_by, create_time, update_by, update_time, remark from t_cls
    </sql>

    <select id="selectTClsList" parameterType="TCls" resultMap="TClsResult">
        <include refid="selectTClsVo"/>
        <where>  
            <if test="majorId != null  and majorId != ''"> and major_id = #{majorId}</if>
            <if test="clsName != null  and clsName != ''"> and cls_name like concat('%', #{clsName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTClsByClsId" parameterType="String" resultMap="TClsResult">
        <include refid="selectTClsVo"/>
        where cls_id = #{clsId}
    </select>

    <insert id="insertTCls" parameterType="TCls">
        insert into t_cls
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clsId != null">cls_id,</if>
            <if test="majorId != null">major_id,</if>
            <if test="clsName != null">cls_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clsId != null">#{clsId},</if>
            <if test="majorId != null">#{majorId},</if>
            <if test="clsName != null">#{clsName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTCls" parameterType="TCls">
        update t_cls
        <trim prefix="SET" suffixOverrides=",">
            <if test="majorId != null">major_id = #{majorId},</if>
            <if test="clsName != null">cls_name = #{clsName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where cls_id = #{clsId}
    </update>

    <delete id="deleteTClsByClsId" parameterType="String">
        delete from t_cls where cls_id = #{clsId}
    </delete>

    <delete id="deleteTClsByClsIds" parameterType="String">
        delete from t_cls where cls_id in 
        <foreach item="clsId" collection="array" open="(" separator="," close=")">
            #{clsId}
        </foreach>
    </delete>

</mapper>